@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: white;
}

.screen {
  min-height: 100vh;
  position: relative;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-mask {
  --bg: rgb(255, 255, 255);
  position: relative;
  background-color: rgb(0, 0, 0);
}
.bg-mask::before {
  content: "";
  position: absolute;
  background-color: var(--bg);
  inset: 0;
  background: linear-gradient(var(--bg) 0 2px, transparent 2px 38px) -20px -20px /
      40px 40px,
    linear-gradient(90deg, var(--bg) 0 2px, transparent 2px 38px) -20px -20px /
      40px 40px;
  mask: linear-gradient(-35deg, var(--bg) 0%, transparent 45%);
}

.image-container {
  background-image: url("https://picsum.photos/300/300");
  background-size: cover;
  width: 300px;
  height: 300px;
}
.cutout-text {
  background-color: white;
  color: black;
  mix-blend-mode: screen;
  padding: 1rem;
}

.clip-text {
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
}
